<div id="spp_students" class="album py-5 bg-light">
  <div class="container">
    <div class="col-lg-8 offset-lg-2">
      <h1>New spp student</h1>
      <%= render "form", spp_student: @spp_student %>
      <br>
      <div>
        <%= link_to "Back to spp students", spp_students_path %>
      </div>
    </div>
  </div>
</div>
