<h1>Editing spp payment</h1>

<%= render "form", spp_payment: @spp_payment %>

<br>

<div>
  <%= link_to "Show this spp payment", @spp_payment %> |
  <%= link_to "Back to spp payments", spp_payments_path %>
</div>
