<div id="<%= dom_id spp_batch %>" class="col">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <p>
        <strong>
          <%= spp_batch.start_at.strftime('%Y') %> s.d. <%= spp_batch.end_at.strftime('%Y') %>
        </strong>
      </p>

      <%= link_to "Show", spp_batch, class: "stretched-link" %>

    </div>
  </div>
</div>