<h1>Editing spp batch</h1>

<%= render "form", spp_batch: @spp_batch %>

<br>

<div>
  <%= link_to "Show this spp batch", @spp_batch %> |
  <%= link_to "Back to spp batches", spp_batches_path %>
</div>
