<div id="spp_batches" class="album bg-light">
  <div class="container">
    <%= link_to "New spp batch", new_spp_batch_path, class: "btn btn-primary" %>
    <h1>Angkatan</h1>
  </div>
</div>

<div id="spp_batches" class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <% @spp_batches.each do |spp_batch| %>
        <%= render spp_batch %>
      <% end %>
    </div>
  </div>
</div>