<div id="<%= dom_id spp_category %>" class="col">
  <div class="card mb-4 shadow-sm">
    <div class="card-body">
      <p>
        <strong><%= spp_category.title %></strong>
      </p>

      <%= link_to "Show", spp_category, class: "stretched-link" %>

    </div>
  </div>
</div>