<h1>Editing spp category</h1>

<%= render "form", spp_category: @spp_category %>

<br>

<div>
  <%= link_to "Show this spp category", @spp_category %> |
  <%= link_to "Back to spp categories", spp_categories_path %>
</div>
