<h1>Editing spp invoice</h1>

<%= render "form", spp_invoice: @spp_invoice %>

<br>

<div>
  <%= link_to "Show this spp invoice", @spp_invoice %> |
  <%= link_to "Back to spp invoices", spp_invoices_path %>
</div>
