<div class="col" id="<%= dom_id category %>">
  <div class="card shadow-sm">
    <div class="card-body">

      <%= link_to category_path(category), class: "stretched-link" do %>
        <h3><%= category.title %></h3>
      <% end %>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <div class="btn-group">
          <% if current_user && current_user.admin? %>
            <%= link_to edit_category_path(category) do %>
              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>