<h1>Doa-doa #OrangBaik</h1>

<div class="d-flex flex-column flex-md-row p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <div class="list-group">
    <% donations.each do |donation| %>
      <%= render 'card_donation_doa', donation: donation %>
    <% end %>
  </div>
</div>