<h1 class="mt-5">Doa-doa #OrangBaik</h1>

<div class="d-flex flex-column flex-md-row gap-4 align-items-center justify-content-center">
  <div class="list-group">
    <% donations.each do |donation| %>
      <%= render 'card_donation_doa', donation: donation %>
    <% end %>
  </div>
</div>