<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="col-lg-8 offset-lg-2">
      <h1>Editing campaign</h1>
      <%= render "form", campaign: @campaign %>

    </div>
      <div class="col-lg-8 offset-lg-2 mt-5">
        <%= link_to "Show this campaign", @campaign %> |
        <%= link_to "Back to campaigns", campaigns_path %>
      </div>
  </div>
</div>


