<p style="color: green"><%= notice %></p>

<h1>Campaigns</h1>

<% if current_user && current_user.admin? %>
  <%= link_to "New campaign", new_campaign_path %>
<% end %>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @campaigns.each do |campaign| %>
        <%= render campaign %>
      <% end %>
    </div>
  </div>
</div>