<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="col-lg-8 offset-lg-2">

      <%= render @campaign %>

      <hr/>

      <%= render 'index_donations', donations: @campaign.donations %>

      <%= render 'index_donations_doas', donations: @donations_doas %>

      <hr/>
      <div>
        <%= link_to "Donasi Sekarang", contribute_campaign_path(@campaign), class: "mt-3 w-100 btn btn-primary btn-lg" %>
      </div>

    </div>
  </div>
</div>